<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <title>Photo Edit</title>
</head>

<body>
    <div class="container">
        <h1>Edit Photo</h1>
        <div class="row">
            <div class="col-12">

                <div th:if="${errors}">
                    ERROR:<br>
                    <ul>
                        <li th:each="error : ${errors}" th:object="${error}">
                            [[*{defaultMessage}]]
                        </li>
                    </ul>
                </div>
               <form method="UPDATE" 
                    th:action="@{/photo/edit}" 
                    th:object="${photo}">

                    <input type="number" name="id" th:field="*{id}" style="display:none">

                   <label>Title</label>
                   <input type="text" name="Title" th:field="*{Title}">
                   <br>
                   <label>Description</label>
                   <textarea type="text" name="description" th:field="*{description}"></textarea>
                   <br>
                   <label>URL</label>
                   <input type="text" name="imgUrl" th:field="*{imgUrl}">
                   <br>
                   <label>Tag</label>
                   <input type="text" name="tag" th:field="*{tag}">
                   <br>
                   <label>Visible</label>
                    <input type="radio" id="visible-true" name="visible" value="1" th:field="*{visible}">
                    <label for="visible-true">Yes</label>
                    <input type="radio" id="visible-false" name="visible" value="0" th:field="*{visible}">
                    <label for="visible-false">No</label>
                   <br>
                   <label>Categories</label>
                   <div th:each="category : ${categories}" th:object="${category}">
                    <input type="checkbox" name="categories" th:value="*{id}" th:field="${photo.categories}">
                    <label>[[*{name}]]</label>
                   </div>
                   <button type="submit" class="btn btn-success">Edit</button>
               </form>
            </div>
        </div>
    </div>
</body>

</html>